<div class="container mx">
    <h2>Hey {{{username}}}!</h2>
    <div class="card" style="width: 18rem;">
        <img src="{{avatar}}" class="card-img-top" alt="profile pic">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Name: {{name}}</li>
            <li class="list-group-item">Nickname: {{username}}</li>
            <li class="list-group-item">Email: {{email}}</li>
            <li class="list-group-item">Phone: {{phone}}</li>
         </ul>
    </div>
</div>